Flask
Flask-Cors
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-Marshmallow
marshmallow-sqlalchemy
tensorflow
Pillow
numpy
pulp
scikit-learn
kaggle
ultralytics
optuna
wandb
plotly
matplotlib
seaborn
opencv-python
pandas
