Flask
Flask-Cors
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-Marshmallow
Flask-JWT-Extended
marshmallow-sqlalchemy
Pillow
numpy
pulp
scikit-learn
kaggle
ultralytics
optuna
wandb
plotly
opencv-python
albumentations
psycopg2-binary
requests
huggingface-hub
gunicorn
werkzeug