--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu
ultralytics==8.0.200
Flask
Flask-Cors
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-Marshmallow
Flask-JWT-Extended
marshmallow-sqlalchemy
Pillow
numpy
pandas
pulp
scikit-learn
optuna
wandb
plotly
opencv-python
albumentations
psycopg2-binary
requests
huggingface-hub
gunicorn
werkzeug